*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

:root{
    --col-01: rgb(221, 221, 221);
    --col-02: rgb(221, 221, 221);
    --col-03: rgb(221, 221, 221);
    --col-04: rgb(221, 221, 221);
    --col-05: rgb(0, 0, 0);
    --col-06: rgb(200, 200, 200);
    --col-07: rgb(117, 117, 117);
    --border-one: dashed 2px white;
}

@font-face {
    font-family: Mono-Regular;
    src: url(./fonts/MonoRegular-jEmAR.ttf);
    font-family: Mono-Light;
    src: url(./fonts/MonoLight-VG7yz.ttf);
    font-family: Mono-Bold;
    src: url(./fonts/MonoBold-z8jG0.ttf);
}
body{
    background-color: var(--col-05);
    background-image: url("./images/pipes.png");
    background-size: 10%;
}

#middle{
    position: relative;
    width:100%;
    padding-left: 10%;
    padding-right: 10%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

img{
    width: 100%;
}

#banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:80%;
    transform-style: preserve-3d;
    z-index: 1;
    overflow: hidden;
    padding-top: 10%;
}

#headertext{
    z-index: 5;
    font-family: "mason-serif", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: brown;
    border: 4px;
    border-style: ridge;
    background-color: black;
    background-image: url(./images/rock.png);
    background-size: 30px;
    padding-left:20px;
    padding-right:20px;
    transform: translateZ(-5px);
    scale:1.5;
    margin: auto;
}

@media only screen and (max-width: 1300px){
    #headertext{
        z-index: 5;
        font-family: "mason-serif", sans-serif;
        font-weight: 200;
        font-size: 3rem;
        color: brown;
        border: 4px;
        border-style: ridge;
        background-color: black;
        background-image: url(./images/rock.png);
        background-size: 30px;
        padding-left:20px;
        padding-right:20px;
        transform: translateZ(-5px);
        scale:1.5;
    }
}

@media only screen and (max-width: 900px){
    #headertext{
        z-index: 5;
        font-family: "mason-serif", sans-serif;
        font-weight: 200;
        font-size: 2.5rem;
        color: brown;
        border: 4px;
        border-style: ridge;
        background-color: black;
        background-image: url(./images/rock.png);
        background-size: 30px;
        padding-left:20px;
        padding-right:20px;
        transform: translateZ(-5px);
        scale:1.5;
    }
}

@media only screen and (max-width: 800px){
    #headertext{
        z-index: 5;
        font-family: "mason-serif", sans-serif;
        font-weight: 200;
        font-size: 2rem;
        color: brown;
        border: 4px;
        border-style: ridge;
        background-color: black;
        background-image: url(./images/rock.png);
        background-size: 30px;
        padding-left:20px;
        padding-right:20px;
        transform: translateZ(-5px);
        scale:1.5;
    }
}

@media only screen and (max-width: 600px){
    #headertext{
        z-index: 5;
        font-family: "mason-serif", sans-serif;
        font-weight: 200;
        font-size: 1.8rem;
        color: brown;
        border: 4px;
        border-style: ridge;
        background-color: black;
        background-image: url(./images/rock.png);
        background-size: 30px;
        padding-left:20px;
        padding-right:20px;
        transform: translateZ(-5px);
        scale:1.5;
    }
}

@media only screen and (max-width: 500px){
    #headertext{
        z-index: 5;
        font-family: "mason-serif", sans-serif;
        font-weight: 200;
        font-size: 1.4rem;
        color: brown;
        border: 4px;
        border-style: ridge;
        background-color: black;
        background-image: url(./images/rock.png);
        background-size: 30px;
        padding-left:20px;
        padding-right:20px;
        transform: translateZ(-5px);
        scale:1.5;
    }
}

@media only screen and (max-width: 400px){
    #headertext{
        z-index: 5;
        font-family: "mason-serif", sans-serif;
        font-weight: 200;
        font-size: 1rem;
        color: brown;
        border: 4px;
        border-style: ridge;
        background-color: black;
        background-image: url(./images/rock.png);
        background-size: 30px;
        padding-left:20px;
        padding-right:20px;
        transform: translateZ(-5px);
        scale:1.5;
    }
}

#sky{
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translateZ(-20px);
    scale: 3;
}
#mountain{
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translateZ(-15px);
    scale: 2.5;
}
#sigil{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translateZ(-10px);
    scale:2;
}


#path{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200%;
    transform-style: preserve-3d;
    z-index: -1;
    overflow: hidden;
}

#dirt{
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translateZ(-10px);
    scale: 2;
}
#shadow{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translateZ(-5px);
    scale: 1.5;
}
#bramble{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: fill;
}


#face{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
    cursor: default;
    overflow: hidden;
}

#face:hover{
    cursor: pointer;
}

#entrance{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
}

#black{
    position: absolute;
    height: 100%;
    width:100%;
    z-index: -1;
    background-color: black;
}

#inside{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -4;
    transform: translateZ(-15px);
    scale: 2.5;
}
